# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
crash.*.log
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# OS/editor
.DS_Store
.vscode/
.idea/
terraform.tfvars
